<b>
	<center> <h1>This is Multiplication Program </h1> </center>
</b>


<%= form_tag calculator_multiplication_path do %>


<%= render 'form' %>
<%=submit_tag "Multiplication"%>
<%end%>


 Multiplication is:<%= @c   %>