<b>
	<center> <h1>This is subtraction Program </h1> </center>
</b>


<%= form_tag calculator_subtraction_path do %>

<%= render 'form' %>

<%=submit_tag "Subtraction"%>
<%end%>


Subtraction is:<%= @c   %>